In [1]:
from CLTreeModules import *
from Attribute import *
from ReadWritePickleFile import *

In [2]:
def getSimpleAttributes(node, othersGroup):
    # Assert node is an instance of CLNode
    assert isinstance(node, CLNode)
    
    attributes = {}
    i = 0 
    while i<len(node.dataset.attr_names):
        attr_name = node.dataset.attr_names[i]
        uniqueValues = len(np.unique(node.dataset.getInstances(attr_name)))
        
        attributes[node.dataset.attr_names[i]]= Attribute(name=attr_name,
                                                          noOfUniqueValues = uniqueValues,
                                                          maxVal=node.dataset.max_values[i+1],
                                                          minVal = node.dataset.min_values[i+1])


        i+=1

    for key in attributes.keys():
        if attributes[key].type == 'Calculated' and re.findall("_others$", attributes[key].name)\
                and attributes[key].originalAttribute in othersGroup:
            attributes[key].setOriginalAttributeVal(othersGroup[attributes[key].originalAttribute])
        elif attributes[key].type == 'Calculated' and re.findall("_weekend$", attributes[key].name):
            attributes[key].setOriginalAttributeVal(['friday', 'saturday', 'fri', 'sat'])
        elif attributes[key].type == 'Calculated' and re.findall("_midweek$", attributes[key].name):
            attributes[key].setOriginalAttributeVal(['tuesday','wednesday', 'thursday','tue', 'wed', 'thu'])
        elif attributes[key].type == 'Calculated' and re.findall("_earlyweek$", attributes[key].name):
            attributes[key].setOriginalAttributeVal(['sunday', 'monday', 'sun', 'mon'])
        
            
    return attributes

In [3]:
initialData = pd.read_csv('./RezSnapShot_2018_78111-1.csv', delimiter=';')

In [4]:
initialData.head()

  ArrivalDate_Weekday  Arrival_Month  LeadDays  channel_id  lang_id
0           SUNDAY                 2       104           1        1
1           MONDAY                 1        66          13        1
2           MONDAY                 1        42          13        1
3           MONDAY                 1        42          13        1
4           MONDAY                 1        39          13        1

In [6]:
dataAfterFeatureEngineering = pd.read_csv('./DataAfterFeatureEngineering.csv')
dataAfterFeatureEngineering.drop(columns='Unnamed: 0', inplace=True)

In [7]:
dataAfterFeatureEngineering.head()

,leaddays,arrivaldate_weekday_weekend,arrivaldate_weekday_midweek,arrivaldate_weekday_earlyweek,channel_id_6,channel_id_7,channel_id_13,channel_id_1,channel_id_12,channel_id_others,lang_id_1,lang_id_3
0,104,0,0,1,0,0,0,1,0,0,1,0
1,66,0,0,1,0,0,1,0,0,0,1,0
2,42,0,0,1,0,0,1,0,0,0,1,0
3,42,0,0,1,0,0,1,0,0,0,1,0
4,39,0,0,1,0,0,1,0,0,0,1,0

In [8]:
byProductOfFeatureEngineering = readPicklefile(path='./byproductOfGetOthersGroup.pickle')

In [9]:
byProductOfFeatureEngineering

{'channel_id': [3]}

In [10]:
CLTree = readPicklefile(path='./initialCLTree.pickle')

In [11]:
attributes = getSimpleAttributes(node=CLTree.getRoot(), othersGroup=byProductOfFeatureEngineering)

In [14]:
for attr in attributes.keys():
    print("Name: {}".format(attributes[attr].name))
    print("Original Attribute: {}".format(attributes[attr].originalAttribute))
    print ("Original Attribute Value: {}".format(attributes[attr].originalAttributeVal))
    print("Type: {}".format(attributes[attr].type))
    print("Min Val: {}".format(attributes[attr].minVal))
    print("Max Val: {}".format(attributes[attr].maxVal))
    print("Number of Unique Values of the field: {}".format(attributes[attr].noOfUniqueValues))
    print("XXXXXXXXXXXXXXXXXXXX||XXXXXXXXXXXXXXXXXXXX||XXXXXXXXXXXXXXXXXXXX||XXXXXXXXXXXXXXXXXXXX")

Name: leaddays
Original Attribute: leaddays
Original Attribute Value: None
Type: Numerical
Min Val: 0.0
Max Val: 386.0
Number of Unique Values of the field: 266
XXXXXXXXXXXXXXXXXXXX||XXXXXXXXXXXXXXXXXXXX||XXXXXXXXXXXXXXXXXXXX||XXXXXXXXXXXXXXXXXXXX
Name: channel_id_6
Original Attribute: channel_id
Original Attribute Value: 6
Type: Categorical
Min Val: 0.0
Max Val: 1.0
Number of Unique Values of the field: 2
XXXXXXXXXXXXXXXXXXXX||XXXXXXXXXXXXXXXXXXXX||XXXXXXXXXXXXXXXXXXXX||XXXXXXXXXXXXXXXXXXXX
Name: arrivaldate_weekday_midweek
Original Attribute: arrivaldate_weekday
Original Attribute Value: ['tuesday', 'wednesday', 'thursday', 'tue', 'wed', 'thu']
Type: Calculated
Min Val: 0.0
Max Val: 1.0
Number of Unique Values of the field: 2
XXXXXXXXXXXXXXXXXXXX||XXXXXXXXXXXXXXXXXXXX||XXXXXXXXXXXXXXXXXXXX||XXXXXXXXXXXXXXXXXXXX
Name: channel_id_7
Original Attribute: channel_id
Original Attribute Value: 7
Type: Categorical
Min Val: 0.0
Max Val: 1.0
Number of Unique Values of the field: 2
XXXXXXXXXXXXXXXXXXXX||XXXXXXXXXXXXXXXXXXXX||XXXXXXXXXXXXXXXXXXXX||XXXXXXXXXXXXXXXXXXXX
Name: arrivaldate_weekday_weekend
Original Attribute: arrivaldate_weekday
Original Attribute Value: ['friday', 'saturday', 'fri', 'sat']
Type: Calculated
Min Val: 0.0
Max Val: 1.0
Number of Unique Values of the field: 2
XXXXXXXXXXXXXXXXXXXX||XXXXXXXXXXXXXXXXXXXX||XXXXXXXXXXXXXXXXXXXX||XXXXXXXXXXXXXXXXXXXX
Name: arrivaldate_weekday_earlyweek
Original Attribute: arrivaldate_weekday
Original Attribute Value: ['sunday', 'monday', 'sun', 'mon']
Type: Calculated
Min Val: 0.0
Max Val: 1.0
Number of Unique Values of the field: 2
XXXXXXXXXXXXXXXXXXXX||XXXXXXXXXXXXXXXXXXXX||XXXXXXXXXXXXXXXXXXXX||XXXXXXXXXXXXXXXXXXXX
Name: channel_id_13
Original Attribute: channel_id
Original Attribute Value: 13
Type: Categorical
Min Val: 0.0
Max Val: 1.0
Number of Unique Values of the field: 2
XXXXXXXXXXXXXXXXXXXX||XXXXXXXXXXXXXXXXXXXX||XXXXXXXXXXXXXXXXXXXX||XXXXXXXXXXXXXXXXXXXX
Name: channel_id_1
Original Attribute: channel_id
Original Attribute Value: 1
Type: Categorical
Min Val: 0.0
Max Val: 1.0
Number of Unique Values of the field: 2
XXXXXXXXXXXXXXXXXXXX||XXXXXXXXXXXXXXXXXXXX||XXXXXXXXXXXXXXXXXXXX||XXXXXXXXXXXXXXXXXXXX
Name: channel_id_12
Original Attribute: channel_id
Original Attribute Value: 12
Type: Categorical
Min Val: 0.0
Max Val: 1.0
Number of Unique Values of the field: 2
XXXXXXXXXXXXXXXXXXXX||XXXXXXXXXXXXXXXXXXXX||XXXXXXXXXXXXXXXXXXXX||XXXXXXXXXXXXXXXXXXXX
Name: lang_id_1
Original Attribute: lang_id
Original Attribute Value: 1
Type: Categorical
Min Val: 0.0
Max Val: 1.0
Number of Unique Values of the field: 2
XXXXXXXXXXXXXXXXXXXX||XXXXXXXXXXXXXXXXXXXX||XXXXXXXXXXXXXXXXXXXX||XXXXXXXXXXXXXXXXXXXX
Name: lang_id_3
Original Attribute: lang_id
Original Attribute Value: 3
Type: Categorical
Min Val: 0.0
Max Val: 1.0
Number of Unique Values of the field: 2
XXXXXXXXXXXXXXXXXXXX||XXXXXXXXXXXXXXXXXXXX||XXXXXXXXXXXXXXXXXXXX||XXXXXXXXXXXXXXXXXXXX
Name: channel_id_others
Original Attribute: channel_id
Original Attribute Value: [3]
Type: Calculated
Min Val: 0.0
Max Val: 1.0
Number of Unique Values of the field: 2
XXXXXXXXXXXXXXXXXXXX||XXXXXXXXXXXXXXXXXXXX||XXXXXXXXXXXXXXXXXXXX||XXXXXXXXXXXXXXXXXXXX